#background
{
	max-width: 75%;
    height: auto;
	position: absolute;
	z-index: 0;
}

#dinosaur
{	
	max-width: 10%;
	height: auto;
	position: absolute;
	left: 5%;
	top: 49%;
	z-index: 1;
}

button
{
	position: absolute;
	bottom: 10%;
	z-index: 2;
}